{% extends "layout.html" %}

{% block head %}
    <script>
        var DateTime = luxon.DateTime;

        document.addEventListener('DOMContentLoaded', function() {

            const tzy = Intl.DateTimeFormat().resolvedOptions().timeZone;

            // Найти элемент <select>
            const selectElement = document.getElementById('ytz');

            // Пройти по всем опциям и установить атрибут selected для соответствующей опции
            for (let i = 0; i < selectElement.options.length; i++) {
                if (selectElement.options[i].value === tzy) {
                    selectElement.options[i].selected = true;
                    break; // Выход из цикла после установки атрибута selected
                }
            }

            const tgElement = document.getElementById('ytzdt');

            const dt = DateTime.fromObject({}, {zone: tzy});

            tgElement.value = dt.toFormat('T');
        //     document.querySelectorAll('.jsInputField')
        //         .forEach(function(element){
        //             element.addEventListener('change', function(event){
        //                 var elementId = event.currentTarget.getAttribute('id')
        //                 var elementValue = event.currentTarget.value
        //                 let response = fetch('/timezone?q=' + elementId + '&q=' + elementValue);
        //         });
        //     });
         });

        function handleSelectChange(event) {
                // Ваш код, который нужно выполнить при изменении выбранной опции
                var selectedValue = event.target.value;

                // Получаем id элемента, который вызвал функцию
                var selectId = event.target.id;

                // console.log('Selected option for', selectId, ':', selectedValue);

                let dt = DateTime.fromObject({}, {zone: selectedValue});

                const targetElement = document.getElementById(selectId + 'dt');

                targetElement.value = dt.toFormat('T');

        }

        function handleInputChange(event) {
                // Ваш код, который нужно выполнить при изменении выбранной опции
                var changedValue = event.target.value;

                // Получаем id элемента, который вызвал функцию
                var changedId = event.target.id;


                var leftZone = document.getElementById('ytz').value;
                var rightZone = document.getElementById('ftz').value;

                //console.log(leftZone, rightZone);

                if (changedId == 'ytzdt') {
                    var ddt = DateTime.fromISO(changedValue, {zone: leftZone});
                    var ddtt = ddt.setZone(rightZone);
                    document.getElementById('ftzdt').value = ddtt.toFormat('T')
                }
                else {
                    var ddt = DateTime.fromISO(changedValue, {zone: rightZone});
                    var ddtt = ddt.setZone(leftZone);
                    document.getElementById('ytzdt').value = ddtt.toFormat('T')
                };
        }
    </script>
{% endblock %}
{% block navuser %}
    <a class="nav-link" disabled>{{user}}</a>
{% endblock %}
{% block navbar %}Sign Out{% endblock %}
{% block main %}
    <form action="/timezone" method="post">
        <div class="mb-3">
        <select class="js-example-basic-single" name="ytz" id="ytz" onchange="handleSelectChange(event)">
            <option disabled selected>Choose your Timezone</option>
            {% for item in ytz %}
                <option value="{{item.timezone}}">{{item.timezone}}</option>
            {% endfor %}
        </select>

        <select class="js-example-basic-single" name="ftz" id="ftz" onchange="handleSelectChange(event)">
                <option disabled selected>Choose your friend's Timezone</option>
            {% for item in ytz %}
                <option value="{{item.timezone}}">{{item.timezone}}</option>
            {% endfor %}
        </select>
    </div>
    </form>
        <div align="center">
            <p></p>
        </div>
        <label for="appt">Choose a time for your meeting:</label>
        <div align="center">
            <input class="jsInputField" type="time" id="ytzdt" name="yappt" value="00:00" min="00:00" max="12:00" required onchange="handleInputChange(event)"/>
            <input class="jsInputField" type="time" id="ftzdt" name="fappt" value="00:00" min="00:00" max="12:00" required onchange="handleInputChange(event)"/>
        </div>
{% endblock %}
