{% extends "layout.html" %}
{% block title %}Transliteration{% endblock %}
{% block head %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Инициализация Clipboard.js
            new ClipboardJS('#copyButton');

            let input = document.querySelector('input');
            var input2 = document.querySelector('#clear');
            var textarea = document.querySelector('#output');
            var searchInput = document.getElementById('q');

            function fetchData() {
                fetch('/roman?q=' + input.value)
                .then(response => response.text())
                .then(text => {
                    textarea.value = text;
                    })
                .catch(error => {
                    console.error('Error:', error);
                    });
            }

            input.addEventListener('input', fetchData);

            input2.addEventListener('click', function () {
                textarea.value = '';
                searchInput.value = '';  // Clear the input value
                fetchData();  // Call the fetchData function after clearing the input
                input.focus();
                }, false);

            // Добавление обработчика события для кнопки
            document.getElementById('copyButton').addEventListener('click', function() {

            });
        });
    </script>
{% endblock %}
{% block navuser %}
    <a class="nav-link" disabled>{{user}}</a>
{% endblock %}
{% block navbar %}Sign Out{% endblock %}
{% block main %}
    <div class="container text-center">
        <div class="row justify-content-center">
        <div class="col">
            <input autocomplete="off" autofocus name="q" id="q" placeholder="Transliterate" type="search" class="w-25">
        </div>
        </div>
        <div class="row justify-content-center"><p></p></div>
        <div class="row justify-content-center">
        <div class="col">
            <textarea id='output' class="w-25" style="height: 70px;"></textarea>
        </div>
        </div>
    </div>
    <div class="input-group mb-3 d-flex justify-content-center">
        <input type="button" class="btn btn-primary mr-2" value="Clear" id="clear">
        <button id="copyButton" class="btn btn-success" data-clipboard-target="#output">Copy to Clipboard</button>
    </div>

{% endblock %}
